RewriteEngine On
        RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
        RewriteRule ^([^/]*)/$ /?get1=$1 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/$ /?get1=$1&get2=$2 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8&get9=$9 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8&get9=$9&get10=$10 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8&get9=$9&get10=$10&get11=$11 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8&get9=$9&get10=$10&get11=$11&get12=$12 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8&get9=$9&get10=$10&get11=$11&get12=$12&get13=$13 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8&get9=$9&get10=$10&get11=$11&get12=$12&get13=$13&get14=$14 [L] [OR]
        RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/$ /?get1=$1&get2=$2&get3=$3&get4=$4&get5=$5&get6=$6&get7=$7&get8=$8&get9=$9&get10=$10&get11=$11&get12=$12&get13=$13&get14=$14&get15=$15 [L]

